<!-- Loop over each object in the projects array -->
{{#each plans as |plan| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
     
    
      <a href="/workout/{{plan.id}}">{{plan.musclegroup}}</a>
    </h2>
    <p>
   
     
      <span class="dollar-amount">{{ plan.week_number}}</span>
      weeks
    </p>
    <p>Created by {{project.user.name}} on {{format_date plan.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{plan.exercise}}
    </p>
  </div>
</div>
{{/each}}
