<div class="text-center">
  <h2>{{musclegroup}}</h2>
  <p>{{exercise}}</p>
  <p>{{user.name}}'s plan started on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money"></span>
    <span class="dollar-amount">{{ plan_weeks }}</span>
    weeks
  </p>
  <p>
    <button class="btn btn-primary">My Fitness Plan</button>
  </p>
</div>

{{!--  <div class="row mt-6">
  <div class="col-md-6"> --}}

   {{!--  <h3>Record Your Progress Here:</h3>

    <form class="form new-workoutlog-form">
      <div class="form-group">
        <label for="workout-musclegroup">Muscle Group:</label>
        <input class="form-input" type="text" id="muscle-group" name="muscletype" />
      </div>
      <div class="form-group">
        <label for="workout-week">Current Week:</label>
        <input class="form-input" type="number" id="workout-week" name="currentweek" />
      </div>
       <div class="form-group">
        <label for="workout-exercise1">Exercise 1:</label>
        <textarea class="form-input" id="workout-exercise1" name="exercise1"></textarea>
      </div>
      <div class="form-group">
        <label for="workout-exercise1current">Number of Reps Done:</label>
        <textarea class="form-input" type="number" id="workout-exercise1current" name="exercise1current"></textarea>
      </div>
       <div class="form-group">
        <label for="workout-exercise2">Exercise 2:</label>
        <textarea class="form-input" id="workout-exercise2" name="exercise2"></textarea>
      </div>
      <div class="form-group">
        <label for="workout-exercise2current">Number of Reps Done:</label>
        <textarea class="form-input" type="number" id="workout-exercise2current" name="exercise2current"></textarea>
      </div>
       <div class="form-group">
        <label for="workout-exercise3">Exercise 3:</label>
        <textarea class="form-input" id="workout-exercise3" name="exercise3"></textarea>
      </div>
      <div class="form-group">
        <label for="workout-exercise3current">Number of Reps Done:</label>
        <textarea class="form-input" type="number" id="workout-exercise3current" name="exercise3current"></textarea>
      </div>
       <div class="form-group">
        <label for="workout-exercise4">Exercise 4:</label>
        <textarea class="form-input" id="workout-exercise4" name="exercise4"></textarea>
      </div>
      <div class="form-group">
        <label for="workout-exercise4current">Number of Reps Done:</label>
        <textarea class="form-input" type="number" id="workout-exercise4current" name="exercise4current"></textarea>
      </div>
       <div class="form-group">
        <label for="workout-exercise5">Exercise 5:</label>
        <textarea class="form-input" id="workout-exercise5" name="exercise5"></textarea>
      </div>
      <div class="form-group">
        <label for="workout-exercise5current">Number of Reps Done:</label>
        <textarea class="form-input" type="number" id="workout-exercise5current" name="exercise5current"></textarea>
      </div>
   
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Log</button>
      </div>
    </form>
  </div>

    {{#if workouts.length}}
  <div class="col-md-8 workout-list">
    <h3>Current Workout Plans:</h3>

    {{#each workouts as |workout|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/workout/{{workout.id}}">{{workout.muscletype}} {{workout.currentweek}} {{workout.exercise1}} {{workout.exercise1current}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{workout.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/Workout.js"></script> --}}